
::-webkit-scrollbar {
	width: 10px; /*对垂直流动条有效*/
	height: 10px; /*对水平流动条有效*/
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track{
	background-color: #fff;
	border-radius: 3px;}


/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb{
	border-radius: 0;
	background-color: #bbb;        }

/*定义两端按钮的样式*/
::-webkit-scrollbar-button {
	background-color:#bbb;
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
	background:#bbb;
}
input{outline: none;
-webkit-appearance: none;
border-radius: 0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;-webkit-tap-highlight-color:rgba(255,255,255,0);}
section,article,aside,header,footer,nav,dialog,figure{display:block;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
img{border:0;vertical-align:middle;}
input{vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,th,var,i{font-weight:normal;font-style:normal;}
input[type="radio"], input[type="submit"], input[type="rest"], input[type="button"], button {cursor:pointer;-webkit-appearance : none ;outline:none }
select{cursor:pointer;outline:none}
input[type="text"], input[type="number"], input[type="tel"], input[type="password"], input[type="submit"], input[type="rest"], input[type="button"], button, textarea {/*-webkit-border-radius:0;*/-webkit-appearance:none;-moz-appearance:none;outline:none}
a{color:#333333;text-decoration:none;}
a,img{border:0;}
html,body{font-size:12px;color: #222;font-family: Microsoft YaHei,KaiTi,Helvetica Neue,Helvetica,Roboto,Heiti SC,STHeiTi,Arial,sans-serif;}
.clearfix:after{display:block;clear:both;height:0;visibility:hidden;font-size:0;line-height:0;content:''}
.clearfix{zoom:1}
input::-moz-placeholder, textarea::-moz-placeholder { color:#cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }
a{color: #333;text-decoration: none;}
body,#header{min-width: 1200px;}
.container{padding-top: 100px;}
.animate{ -webkit-transition:ease-in-out 0.3s; -moz-transition:ease-in-out 0.3s; transition:ease-in-out 0.3s;}
.w1200{width: 1200px;margin:0 auto;}
.detail article{min-height: 300px;}
.bgf2{background: #f2f2f2;padding-bottom: 50px;}


.overflow-1{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.overflow-2{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.overflow-3{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.overflow-4{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
}
.overflow-5{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
}


@-webkit-keyframes gdownIn{
	from{opacity:0; -webkit-transform:translate3d(0,30px,0);}
}
@-moz-keyframes gdownIn{
	from{opacity:0; -moz-transform:translate3d(0,30px,0);}
}
@keyframes gdownIn{
	from{opacity:0; transform:translate3d(0,30px,0);}
}
@-webkit-keyframes gfadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}
@-moz-keyframes gfadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}
@keyframes gfadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}


@-webkit-keyframes gfadeOut{
	0%{opacity:1;}
	100%{opacity:0;}
}
@-moz-keyframes gfadeOut{
	0%{opacity:1;}
	100%{opacity:0;}
}
@keyframes gfadeOut{
	0%{opacity:1;}
	100%{opacity:0;}
}
